<div class="header">
    <div class="logo">
        <a href="index.html"><img src="../images/logo.png"></a>
    </div>
    <div class="nav-list">
        <ul class="clearfix">
            <li class="<%= local.index?'active':'' %>"><a href="index.html">首页</a></li>
            <li class="<%= local.szxt?'active':'' %>"><a href="紧急求助-我发出的求助.html">实战协同</a></li>
            <li class="<%= local.sysjs?'active':'' %>"><a href="javascript:void(0)">实验室建设</a></li>
            <li class="<%= local.bzgf?'active':'' %>"><a href="javascript:void(0)">标准规范</a></li>
            <li class="<%= local.zxxx?'active':'' %>"><a href="在线学习-课程录像.html">在线学习</a></li>
            <li class="<%= local.kjcx?'active':'' %>"><a href="javascript:void(0)">科技创新</a></li>
            <li class="<%= local.xtgl?'active':'' %>"><a href="javascript:void(0)">系统管理</a></li>
        </ul>
    </div>
    <div class="set" style="display: none">
        <a href="javascript:void(0)" class="set-search"><i></i></a>
        <a href="login.html" class="set-login">登录</a>
        <a href="register.html" class="set-register">注册</a>
    </div>
    <div class="hadLogin">
        <ul>
            <li>
                <a href="#"><span class="icon iconfont icon-line-search"></span></a>
            </li>
            <li class="noticeLi">
                <a href="#" class="notice">
                    <span class="icon iconfont icon-line-noti"></span>
                    <i class="num">1</i>
                </a>
                <div class="noticeBox">
                    <p class="bitTit">通知</p>
                    <ul class="noticeList">
                        <li>
                            <p class="tit">
                                <a href="#"><span class="icon iconfont icon-line-volume"></span>FrontJS 首页焕新出发通知首页焕新出发通知首页焕新出发通知首页焕新出发通知</a>
                            </p>
                            <p class="detail">
                                <a href="#">FrontJS 首页焕新出发，更完善的使用引导和更多前端知识共享，帮助前端开发者从</a>
                            </p>
                            <p class="time">2018-01-10 11:08</p>
                        </li>
                        <li>
                            <p class="tit">
                                <a href="#"><span class="icon iconfont icon-line-volume"></span>FrontJS 首页焕新出发通知首页焕新出发通知首页焕新出发通知首页焕新出发通知</a>
                            </p>
                            <p class="detail">
                                <a href="#">FrontJS 首页焕新出发，更完善的使用引导和更多前端知识共享，帮助前端开发者从</a>
                            </p>
                            <p class="time">2018-01-10 11:08</p>
                        </li>
                        <li>
                            <p class="tit">
                                <a href="#"><span class="icon iconfont icon-line-volume"></span>FrontJS 首页焕新出发通知首页焕新出发通知首页焕新出发通知首页焕新出发通知</a>
                            </p>
                            <p class="detail">
                                <a href="#">FrontJS 首页焕新出发，更完善的使用引导和更多前端知识共享，帮助前端开发者从</a>
                            </p>
                            <p class="time">2018-01-10 11:08</p>
                        </li>
                        <li>
                            <p class="tit">
                                <a href="#"><span class="icon iconfont icon-line-volume"></span>FrontJS 首页焕新出发通知首页焕新出发通知首页焕新出发通知首页焕新出发通知</a>
                            </p>
                            <p class="detail">
                                <a href="#">FrontJS 首页焕新出发，更完善的使用引导和更多前端知识共享，帮助前端开发者从</a>
                            </p>
                            <p class="time">2018-01-10 11:08</p>
                        </li>
                    </ul>
                    <p class="seeAll"><a href="#">查看所有通知</a></p>
                </div>
            </li>
            <li class="nameLi">
                <a href="#" class="imgBox">
                    <span><img src="../images/hj.png"/></span>
                    <i class="name">钟建辉</i>
                </a>
                <div class="outBox">
                    <a href="login.html" class="outBtn"><span class="icon iconfont icon-line-out"></span>退出</a>
                </div>
            </li>
        </ul>
    </div>
 </div>