<div class="left-sidebar">
    <ul>
        <%
        var data = [{
            font:'icon-line-circle',
            name:'人员协同',
            kid:[{
            	name:'紧急求助',
            	href:'紧急求助-我发出的求助'
            },{
            	name:'普通求助',
            	href:'普通求助-我发出的预约'
            }]
        },{
            font:'icon-line-date',
            name:'设备协同',
            href:'设备协同-我发起的申请'
        },{
            font:'icon-line-speaker',
            name:'技术交流',
            href:'技术交流-全部'
        }]
                for(var i in data){
        %>
        <li class="<%= local.atname == data[i].name ? 'active' : '' %>">
        	<% if(data[i].kid){ %>
        	<a href="<%= data[i].kid[0].href %>.html" >
        	<% }else{ %>
    		<a href="<%= data[i].href %>.html" >
        	<% } %>
                <i class="iconfont <%= data[i].font %>"></i>
                <%= data[i].name  %>
                <% if(data[i].kid){ %>
                <em><i class="iconfont icon-outline-chevron_right-px"></i></em>
                <% } %>
            </a>
            <% if(data[i].kid){ %>
            <div class="left-side-kid">
                <% for(var j in data[i].kid){ %>
                <a href="<%= data[i].kid[j].href %>.html" class="<%= local.kidname == data[i].kid[j].name ? 'active' :'' %>">
                    <%= data[i].kid[j].name %>
                </a>
                <% } %>
            </div>
            <% } %>
        </li>
        <% } %>
    </ul>
</div>