<div class="header">
    <div class="logo">
        <a href="javascript:void(0)"><img src="../images/logo.png"></a>
    </div>
    <div class="nav-list">
        <ul class="clearfix">
            <li class="<%= local.index?'active':'' %>"><a href="javascript:void(0)">首页</a></li>
            <li class="<%= local.szxt?'active':'' %>"><a href="javascript:void(0)">实战协同</a></li>
            <li class="<%= local.sysjs?'active':'' %>"><a href="javascript:void(0)">实验室建设</a></li>
            <li class="<%= local.bzgf?'active':'' %>"><a href="javascript:void(0)">标准规范</a></li>
            <li class="<%= local.zxxx?'active':'' %>"><a href="javascript:void(0)">在线学习</a></li>
            <li class="<%= local.kjcx?'active':'' %>"><a href="javascript:void(0)">科技创新</a></li>
            <li class="<%= local.xtgl?'active':'' %>"><a href="javascript:void(0)">系统管理</a></li>
        </ul>
    </div>
    <div class="set">
        <a href="javascript:void(0)" class="set-search"><i></i></a>
        <a href="javascript:void(0)" class="set-login">登录</a>
        <a href="javascript:void(0)" class="set-register">注册</a>
    </div>
 </div>