<div class="console-box whitebox">
	<div class="tab-box">
		<% for(var i in tab){  %>
		<a href="<%= tab[i].href %>.html" class="<%= i == index ? 'active' : '' %>">
			<%= tab[i].name %>
			<span class="num <%= tab[i].name == '待我处理的求助' ? '' : 'hide' %>">1</span>
		</a>
		<% } %>
	</div>
	<div class="console-right pull-right">
		<% for(var i in btns){ %>
			<% if(btns[i].val == '返回'){ %>
				<button class="inps" onclick="window.history.back(-1);'">
				<i class="iconfont icon-line-reply"></i>
				返回
			<% }else{ %>
				<button class="btns" onclick="window.location.href ='<%= btns[i].href %>.html'">
				<span class="tips-num <%= btns[i].val == '私信交流' ? '' : 'hide' %>">12</span>
				<%= btns[i].val %>
		</button>
		<% }} %>
	</div>
</div>