<div class="left-sidebar">
    <% if(local.zxxx){ %>
    <ul>
        <%
        var data = [{
            font:'iconstudy-wodekecheng',
            name:'我的课程',
            href:'在线学习-我的课程'
        },{
            font:'iconstudy-wenzhang',
            name:'学术文章',
            href:'在线学习-学术文章'
        },{
            font:'iconstudy-shuji',
            name:'专业书籍',
            href:'在线学习-专业书籍'
        },{
            font:'iconstudy-kejian',
            name:'专家课件',
            href:'在线学习-专家课件'
        },{
            font:'iconstudy-suibi',
            name:'工作随笔',
            href:'在线学习-工作随笔'
        },{
            font:'iconstudy-luxiang',
            name:'课程录像',
            href:'在线学习-课程录像'
        },{
            font:'iconstudy-zaixiankecheng',
            name:'在线课程',
            href:'在线学习-在线课程'
        },{
            font:'iconstudy-xinde',
            name:'学习心得',
            href:'在线学习-学习心得'
        },{
            font:'iconstudy-zuozheng',
            name:'出庭作证',
            href:'在线学习-出庭作证'
        }]
                for(var i in data){
        %>
        <li class="<%= local.atname == data[i].name ? 'active' : '' %>">
            <% if(data[i].kid){ %>
            <a href="<%= data[i].kid[0].href %>.html" >
                <% }else{ %>
                <a href="<%= data[i].href %>.html" >
                    <% } %>
                    <i class="iconfont <%= data[i].font %>"></i>
                    <%= data[i].name  %>
                    <% if(data[i].kid){ %>
                    <em><i class="iconfont icon-outline-chevron_right-px"></i></em>
                    <% } %>
                </a>
                <% if(data[i].kid){ %>
                <div class="left-side-kid">
                    <% for(var j in data[i].kid){ %>
                    <a href="<%= data[i].kid[j].href %>.html" class="<%= local.kidname == data[i].kid[j].name ? 'active' :'' %>">
                        <%= data[i].kid[j].name %>
                    </a>
                    <% } %>
                </div>
                <% } %>
        </li>
        <% } %>
    </ul>
    <% } %>
    <% if(local.xtgl){ %>
    <ul>
        <%
            var data = [{
                font:'iconsystem-zhuanjia',
                name:'专家管理',
                href:'系统管理-专家管理'
            },{
                font:'iconsystem-lanmu',
                name:'栏目管理',
                href:'系统管理-栏目管理'
            },{
                font:'iconsystem-yonghu',
                name:'用户管理',
                href:'系统管理-用户管理'
            },{
                font:'iconsystem-juese',
                name:'角色管理',
                href:'系统管理-角色管理'
            },{
                font:'iconsystem-zidian',
                name:'字典管理',
                href:'系统管理-字典管理'
            },{
                font:'iconsystem-tongzhi',
                name:'通知中心',
                kid:[{
                    name:'消息通知',
                    href:'系统管理-通知中心-消息通知'
                },{
                    name:'通知管理',
                    href:'系统管理-通知中心-通知管理'
                }]
            },{
                font:'iconsystem-jifen',
                name:'积分管理',
                href:'系统管理-积分管理'
            },{
                font:'iconsystem-paiban',
                name:'排班管理',
                href:'系统管理-排班管理'
            },{
                font:'iconsystem-rizhi',
                name:'日志管理',
                href:'系统管理-日志管理'
            }]
                for(var i in data){
        %>
        <li class="<%= local.atname == data[i].name ? 'active' : '' %>">
            <% if(data[i].kid){ %>
            <a href="<%= data[i].kid[0].href %>.html" >
                <% }else{ %>
                <a href="<%= data[i].href %>.html" >
                    <% } %>
                    <i class="iconfont <%= data[i].font %>"></i>
                    <%= data[i].name  %>
                    <% if(data[i].kid){ %>
                    <em><i class="iconfont icon-outline-chevron_right-px"></i></em>
                    <% } %>
                </a>
                <% if(data[i].kid){ %>
                <div class="left-side-kid">
                    <% for(var j in data[i].kid){ %>
                    <a href="<%= data[i].kid[j].href %>.html" class="<%= local.kidname == data[i].kid[j].name ? 'active' :'' %>">
                        <%= data[i].kid[j].name %>
                    </a>
                    <% } %>
                </div>
                <% } %>
        </li>
        <% } %>
    </ul>
    <% } %>
</div>